.container {
  position: fixed;
  top: 30vh;
  right: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 172px;
  font-style: italic;
  line-height: 85%;
}
a {
  text-decoration: none;
}
a:visited,
a:link,
a:active {
  color: #8CF6CE;
}
.stats {
  list-style: none;
  font-size: 32px;
  padding-right: 6px;
}

@media (max-width: 480px) {
  .container {
    position: relative;
    top: 0;
    right: 0;
    align-items: center;
    margin-top: 24px;
  }
}