.map {
  z-index: -1;
  width: 40%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  display: flex;
  align-items: center;
}
.map img {
  position: absolute;
  width: 100%;
  opacity: 0.5;
}

.map img.base {
  opacity: 1;
}

@media (max-width: 480px) {
  .map {
    position: relative;
    margin: 36px 0;
    display: block;
    width: 100%;
  }
}